@model Sked24.Dotnet.Samples.MVC.Models.ResourceReportFiltersDto
@{
    ViewBag.Title = "Resource Report";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class='input-group col-md-3 date' id="dateFrom">
                    @Html.TextBoxFor(dto => dto.DateFrom, new { @class = "form-control", @id = "dateFrom1" })
                    @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class='input-group  col-md-3 date' id="dateTo">
                    @Html.TextBoxFor(dto => dto.DateTo, new { @class = "form-control", @id = "dateTo" })
                    @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ResourceName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="input-group col-md-10">
                    @Html.EditorFor(model => model.ResourceName, new { htmlAttributes = new { @class = "form-control", @id = "ResourceName" } })
                    @Html.HiddenFor(model => model.ResourceId, new {@id = "ResourceId"})
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Generate" class="btn btn-default" />
                </div>
            </div>
        </div>
}
<script type="text/javascript">
    $(function () {
        $('#dateFrom').datetimepicker({
        });

        $('#dateTo').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#dateFrom").on("dp.change", function (e) {
            $('#dateTo').data("DateTimePicker").minDate(e.date);
        });
        $("#dateTo").on("dp.change", function (e) {
            $('#dateFrom').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#ResourceName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/ResourceReport/ResourceAutocomplete/",
                    type: "GET",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function(data) {
                        response($.map(data,
                            function(item) {
                                return { label: item.Name, value: item.Name, id: item.Id };
                            }));
                    }
                });
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (e, i) {
                $("#ResourceId").val(i.item.id);
            }
        });
    })
</script>  
